@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&family=Sigmar&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Poppins',sans-serif;
}
/*Styling the website background with color*/
body {
	background:#0e494a;
	color:#ededed;
	background: linear-gradient(to left, #26cbce 0%, #123456 100%);
}
/*Centering the code with the type selector "h1" */ 
h1{
  text-align: center;
  width:100%;
  padding:30px;
  background-color:#545454;
}
/*Centering the code with the type selector "h2" for the word picture,videos and audios*/ 
h2{
  text-align: center;
  width:100%;
  padding:30px;
}
/*Centering the images,videos and audios*/
div {
  width: 1300px;
  text-align:center;
  margin: auto;
  
}
