@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');	/*Changing the fonts*/ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
	/*Styling the background with color*/ 
body {
	background-image: url("pic1.JPG");
}
	/*Centering the header*/ 
h1{
	text-align:center;
	padding:20px 0;
}
 	/*Styling the form*/ 
 form {   
        border: 3px solid #f1f1f1;
        max-width: 360px;
        margin: 0 auto 100px;
        text-align:center;		
    }   
		/*Styling the inputs*/ 
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;      
        box-sizing: border-box;   
    }  
    	/*Styling the container for login with color*/ 
 .container {   
        padding: 35px;   
        background-color: #D3D3D3;  
    }   
		/*Styling the submit button with color,sizing and the position*/ 
	.submitbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.submitbtn:hover {  
  opacity: 1;  
} 
	/*Styling the cancel button with color,sizing and the position*/ 
.cancelbtn {  
  background-color: #7b7b7b;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.cancelbtn:hover {  
  opacity: 1;  
}   