@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
	/*Styling the background with color*/ 
body {
	background-image: url("pic1.JPG");
	border: 3px solid #f1f1f1;
    max-width: 760px;
    margin: 0 auto 100px;
    text-align:center;	
}
	/*Centering the header*/ 
h1{
	text-align:center;
	padding:20px 0;
}
	/*Styling the container with color*/ 
.container {  
    padding: 50px;  
  background-color: #D3D3D3;  
}  
  	/*Styling the inputs size,width and background color*/ 
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
	/*Styling the inputs so it will appear orange color inside the information box*/ 
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
      padding: 10px 0;} 
/*Styling the box with white color*/ 
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
	/*adjusting the size and color for register button in the page*/ 
.submitbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.submitbtn:hover {  
  opacity: 1;  
} 
	/*Adjusting the color and size of cancel button in the page*/ 
.cancelbtn {  
  background-color: #7b7b7b;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.cancelbtn:hover {  
  opacity: 1;  
}   