@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&family=Sigmar&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Poppins',sans-serif;
}
/*Styling the background with color*/ 
body {
	background:#0e494a;
	color:#ededed;
	background: linear-gradient(to left, #26cbce 0%, #123456 100%);
}
/* centering code with the type selector "h1" and put background color for header*/ 
h1{
  text-align: center;
  width:100%;
  padding:30px;
  background-color:#545454;
}
/*Styling the table*/ 
table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
}
/*Styling the table with coloured border and centering all the text*/ 
td, th {
  border: 1px solid #3a3b3c;
  text-align: center;
  padding: 8px;
}
/*Styling the table with another background color for each row*/ 
tr:nth-child(even) {
  background-color: #7b7b7b;
}
/*Centering the header and all text inside the paragraph*/ 
p,h2{
	text-align:center;
}